body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

main { 
    background-color: black; 
    width: 100%;
    height: 100vh;
}

.container {
    height: calc(100% - 20px);
    width: 800px;
    background-color: #C8DCF7;;
    align-items: center;
    float: left;
    margin-left: calc(50% - 420px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont {
    background-color: white;
    justify-content: center;
    width: 660px;
    flex-direction: column;
    left: calc(50% - 330px);
    margin-left: 70px;
    margin-top: 80px;
}

.form {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 60px;
}

input,
textarea {
    margin: 0;
    background-color: #E7E9FE;
    line-height: 1.7em;
    padding: 18px;
    border: 1px transparent;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

textarea {
    resize: vertical;
    min-height: 2.5em;
    height: 4em;
    max-height: 9em;
    font-size: 14px;
    font-weight: 500;
}

.form input {
    color: #fff;
    border-color: #fff;
}

input::placeholder,
textarea::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #363DC1;
}

#first-name {
    width: 220px;
    background-color: #E7E9FE;
}

#last-name {
    margin-right: 60px;
    float: right;
    width: 220px;
    background-color: #E7E9FE;
}

#email {
    width: 220px;
    background-color: #C7CDFD;
}

#phone {
    margin-right: 60px;
    float: right;
    width: 220px;
    background-color: #C7CDFD;
}

#address {
    width: 500px;
    background-color: #C7CDFD;
}

#msg {
    width: 500px;
    background-color: #A5B1FD;
}

.btn {
    display: inline-block;
    width: 150px;
    padding: 1em 2.2em;
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    color: #C8DCF7;
    border-radius: 2.5em;
    background-color: #233BF5;
    border: 0.1em #233BF5;
    margin-top: 30px;
    margin-left: calc(50% - 105px);
    cursor: pointer;
}

.btn:hover {
    
    background-color: #17a02e;
    transition: 0.3s;
    color: #000;
}

.text {
    
    color: #88D7C1;
    margin-top: 15px;
}

.title {
    margin: 0 0 0 50px;
    color: #233BF5;
    font-size: 36px;
    font-weight: 350;
    padding-top: 30px;
    text-transform: capitalize;
}

:focus {
    outline: none;
}

