body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
 }

main {  
    background-color: #C8DCF7; 
    width: 1200px;
    height: 100vh;   
}

.container {
    width: 100%;
    padding: 60px 0;
}

.cont {
    background-color: white;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
}

.form {
    margin-bottom: 10px;
}
.form input {
    color: #fff;
    border-color: #fff;
}
.form input::placeholder {
    color: #363DC1;
}

#first-name {
    background-color: #E7E9FE;
}

#last-name {
    background-color: #E7E9FE;
}

#address {
    background-color: #C7CDFD;
}

#msg {
    background-color: #A5B1FD;
}

.btn {
    display: inline-block;
    padding: 20px 60px;
    font-size: 18px;
    line-height: 1em;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    background-color: #233BF5;
}

.text {
    color: #88D7C1;
}


